<header id="fourzeroFour" class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        {{#if message}} 
        <h1 class="mb-2 text-light">
            {{message}}    
        </h1>
        {{/if}}
        <h5 class="mb-3 text-light">We can Find the Page you are looking for</h5>
        <a class="btn btn-outline-warning btn-xl" href="/">Back to home</a>
    </div>
</header>