<header id="fiveHundred" class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-2 text-white">
        This doesnt look good....  
        </h2>
        <h5 class="mb-3 text-muted">Looks like something went wrong on out server. we'll try and fix it....</h5>
    </div>
</header>
