<header id="home" class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <div class="card text-white bg-primary mb-3 col-12 col-md-6 align-self-center">
         
        <h1 class="mt-2 text-light">
            Who We are  
        </h1>
        <p class="m-4">Born out of a love of food and the ceremony of dining out, its joint owners brother and sister Kim and David O’Driscoll serve moderately priced, traditional bistro fare seven nights a week with brunch on Fridays and the weekend.

Serving predominantly French wines from a carefully selected wine list, draft beers and an extensive range of spirits & house cocktails there is something for everybody at DeVille’s.</p>
        <h5 class="mb-3 text-light">We cant wait to see you in person</h5>
        <a class="btn btn-outline-warning btn-xl mb-2" href="/booking">Book a table</a>
        </div>
    </div>
</header>

<div class="row bg-primary">
    <div class="container">
        {{> links}}
    </div>
</div>